@import "./settings/color.css";
@import "./settings/font-size.css";
@import "./settings/line-height.css";

html {
  font-size: 62.5%;
}

body {
  font-family:
    "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  font-size: var(--fs-medium);
  line-height: var(--lh-medium);
  color: var(--color-font-primary);
}
